@import '../../styles/index.scss';

.reminderList {
  display: flex;
  flex-direction: column;
  gap: $unit;
  background-color: $background;
  border: 1px solid $border-color;
  padding: $unit;
  border-radius: 8px;
}

.filterButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $unit-half;
  position: relative;

  .active {
    background-color: $success-color;
    color: white;
  }

  .searchInput {
    position: absolute;
    right: 0;
    top: 0;
    padding: $unit-quarter;
    border: 2px solid $border-color;
    border-radius: $unit-quarter;
  }
}

.noReminders {
  text-align: center;
  color: mix(black, $primary, 10%);
}

@media screen and (max-width: 768px) {
  .reminderList {
    border: none;
    padding: $unit-half;
  }

  .filterButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .searchInput {
      position: relative;
    }
  }
}
